<%= form_with model: @user, local: true do |form| %>

<% if @user.errors.any? %>
<div id="error explanation">
<h2>
<%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
</h2>
<ul>
<% @user.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>
<p>
<%= form.label :name %><br>
<%= form.text_field :name %>
</p>

<p>
<%= form.label :email %><br>
<%= form.text_field :email %>  
</p>

<% if !is_edit %>
<p>
  <%= form.label :password %><br>
  <%= form.password_field :password %>
  <%= form.password_field :password_confirmation %>
</p>
<% end %>

<p>
<%= form.submit %>
</p>

<% end %>